language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.5"
  - "3.6"
  - "3.7"
  - "pypy"
# command to install dependencies
install:
  - pip install -U setuptools
  - python setup.py install
# command to run tests
script: python setup.py test
